<div class="features-section">
    <div class="features-columns customcontainer w-row">
      <div class="feature-column w-col w-col-3 w-col-stack">
        <div class="single-usp"><img src="{{'icon-levering.svg' | asset_url}}" loading="lazy" alt="" class="usp-icon">
          <h1 class="feature-heading">Free Shipping</h1>
          <p class="feature-paragraph">Free shipping above £20</p>
        </div>
      </div>
      <div class="feature-column w-col w-col-3 w-col-stack">
        <div class="single-usp"><img src="{{'icon-tevredenheidsgarantie.svg' | asset_url}}" loading="lazy" alt="" class="usp-icon">
          <h1 class="feature-heading">100% Buyers Satisfaction</h1>
          <p class="feature-paragraph">Aren’t you 100% satisfied with your purchase? Return it without worry within 14 days.</p>
        </div>
      </div>
      <div class="feature-column w-col w-col-3 w-col-stack">
        <div class="single-usp"><img src="{{'icon-support.svg' | asset_url}}" loading="lazy" alt="" class="usp-icon">
          <h1 class="feature-heading">24/7 Customer Support</h1>
          <p class="feature-paragraph">More questions? Our team is only one mouse click away.</p>
        </div>
      </div>
      <div class="feature-column w-col w-col-3 w-col-stack">
        <div class="single-usp"><img src="{{'feature-veilige-betalingen.svg' | asset_url}}" loading="lazy" alt="" class="usp-icon">
          <h1 class="feature-heading">Encrypted Payments</h1>
          <p class="feature-paragraph">While processing, your credentials are kept private and secure</p>
        </div>
      </div>
    </div>
    <div data-delay="4000" data-animation="slide" data-autoplay="1" data-easing="ease-in-out-expo" data-nav-spacing="6" data-duration="500" data-infinite="1" class="usps-slider w-slider">
      <div class="mask w-slider-mask">
        <div class="slide w-slide">
          <div class="single-feature"><img src="{{'icon-levering.svg' | asset_url}}" loading="lazy" alt="" class="usp-icon">
            <h1 class="feature-heading">Free Shipping</h1>
            <p class="feature-paragraph">Free shipping above £20</p>
          </div>
        </div>
        <div class="w-slide">
          <div class="single-feature"><img src="{{'icon-tevredenheidsgarantie.svg' | asset_url}}" loading="lazy" alt="" class="usp-icon">
            <h1 class="feature-heading">100% Buyers Satisfaction</h1>
            <p class="feature-paragraph">Aren’t you 100% satisfied with your purchase? Return it without worry within 14 days.</p>
          </div>
        </div>
        <div class="w-slide">
          <div class="single-feature"><img src="{{'icon-support.svg' | asset_url}}" loading="lazy" alt="" class="usp-icon">
            <h1 class="feature-heading">24/7 Customer Support</h1>
            <p class="feature-paragraph">More questions? Our team is only one mouse click away.</p>
          </div>
        </div>
        <div class="w-slide">
          <div class="single-feature"><img src="{{'feature-veilige-betalingen.svg' | asset_url}}" loading="lazy" alt="" class="usp-icon">
            <h1 class="feature-heading">Encrypted Payments</h1>
            <p class="feature-paragraph">While processing, your credentials are kept private and secure</p>
          </div>
        </div>
      </div>
      <div class="left-arrow w-slider-arrow-left">
        <div class="icon w-icon-slider-left"></div>
      </div>
      <div class="right-arrow w-slider-arrow-right">
        <div class="icon w-icon-slider-right"></div>
      </div>
      <div class="slide-nav w-slider-nav w-slider-nav-invert w-round"></div>
    </div>
  </div>
