
<body class="body-colored">

  <div class="section-3">
    <div class="content-card">
      <h1 class="page-heading">{{ page.title }}</h1>
      <div class="faq-question-wrap">
        <a href="#" class="faq-question-bar w-inline-block">
          <div class="question-title">Which possible delivery methods are available?</div><img src="{{ 'arrow.svg' | asset_url }}" loading="lazy" alt="" class="image-56"></a>
        <div class="faq-content">
          <p class="faq-answer">We offer free delivery on all orders!. The orders will be delivered by ... </p>
        </div>
      </div>
      <div class="faq-question-wrap">
        <a href="#" class="faq-question-bar w-inline-block">
          <div class="question-title">How long does it take to have my order delivered?</div><img src="{{ 'arrow.svg' | asset_url }}" loading="lazy" alt="" class="image-56"></a>
        <div class="faq-content">
          <p class="faq-answer">Orders placed before 5pm will be shipped the same day. The usual delivery time varies between 5 and 8 working days since the packages will be sent from a foreign warehouse. Via the “track your order” page you can view where your order is located any time. If your order still hasn’t arrived after the expected time period, please contact the customer service and they will assist you further.</div>
      </div>
      <div class="faq-question-wrap">
        <a href="#" class="faq-question-bar w-inline-block">
          <div class="question-title">Which payment methods are accepted?</div><img src="{{ 'arrow.svg' | asset_url }}" loading="lazy" alt="" class="image-56"></a>
        <div class="faq-content">
          <p class="faq-answer">We accept payments via creditcard, Paypal, Apple pay, Google pay & amex. If you are not sure if we accept your preferred payment method, follow the checkout steps to confirm your payment.</div>
      </div>
      <div class="faq-question-wrap">
        <a href="#" class="faq-question-bar w-inline-block">
          <div class="question-title">Is buying online secure?</div><img src="{{ 'arrow.svg' | asset_url }}" loading="lazy" alt="" class="image-56"></a>
        <div class="faq-content">
          <p class="faq-answer">We use iDeal, bancontact, PayPal and mastercard to transmit all our orders through a secure and encrypted checkout system.</div>
      </div>
      <div class="faq-question-wrap">
        <a href="#" class="faq-question-bar w-inline-block">
          <div class="question-title">How to place an order?</div><img src="{{ 'arrow.svg' | asset_url }}" loading="lazy" alt="" class="image-56"></a>
        <div class="faq-content">
          <p class="faq-answer">Orders can be placed via our secure payment checkout page. If you want to make a purchase, click on “add to basket” on one of our products and proceed to checkout</p>
        </div>
      </div>
      <div class="faq-question-wrap">
        <a href="#" class="faq-question-bar w-inline-block">
          <div class="question-title">Do I need an account to place an order?</div><img src="{{ 'arrow.svg' | asset_url }}" loading="lazy" alt="" class="image-56"></a>
        <div class="faq-content">
          <p class="faq-answer">No. Having an account is not required to make a purchase</p>
        </div>
      </div>
      <div class="faq-question-wrap">
        <a href="#" class="faq-question-bar w-inline-block">
          <div class="question-title">With whom should I seek contact in case I have questions?</div><img src="{{ 'arrow.svg' | asset_url }}" loading="lazy" alt="" class="image-56"></a>
        <div class="faq-content">
          <p class="faq-answer">If you find yourself wondering about a product or placed order, feel free to contact us via <a href="mailto:hey@trendt.uk" class="email-link-text">hey@trentz.uk</a><br></p>
        </div>
      </div>
      <div class="faq-question-wrap">
        <a href="#" class="faq-question-bar w-inline-block">
          <div class="question-title">How can I cancel or return my order?</div><img src="{{ 'arrow.svg' | asset_url }}" loading="lazy" alt="" class="image-56"></a>
        <div class="faq-content">
          <p class="faq-answer">To return your order you can contact our customer service via hey@trendt.uk and we will help you regarding the return shipping address. After having confirmed your return you can send the product back to us via a courier of your choice.</div>
      </div>
    </div>
  </div>
  
  {% include 'footer' %}
</body>
