{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
{% assign productomschrijving_kort = "Bath Bomb | Rainbow effect 🌈" %}
{% assign stocknumber = 20 %}




<div class="section-4" id="product-page-section">
    <div class="customcontainer-2">
      <div class="columnsproduct w-row">
        <div class="imgcolumn w-col w-col-6 w-col-stack">
          <div class="imagewrapper">
            {% include 'image-slider' %}
          </div>
        </div>
        <div class="column-2 w-col w-col-6 w-col-stack">
          {% include 'product-info' %}
              
          <div class="w-layout-grid usps_grid">
            <div id="w-node-1510455e3a38-5c1a5c2a" class="single_usp"><img src="{{'icon-gratis-verzonden-usp.svg' | asset_url}}" alt="" class="usp_image">
              <p class="website_usp">Gratis verzending</p>
            </div>
            <div class="single_usp"><img src="{{'icon-tevredenheidsgarantie-usp.svg' | asset_url}}" alt="" class="usp_image">
              <p class="website_usp">Tevredenheidsgarantie</p>
            </div>
            <div class="single_usp"><img src="{{'icon-veilig-betalen-usp.svg' | asset_url}}" alt="" class="usp_image">
              <p class="website_usp">Veilig betalen</p>
            </div>
          </div>
          
          <div class="productpagesubtitle">WAT IS DE COLORCLOUD?</div>
         
          <p item="description" class="paragraph-2">{{ product.description }}</p>
          
          <img src="{{' ezgif.com-gif-maker_12.gif ' | asset_url}}" alt="" class="image_product_description">
          
          <div class="productpagesubtitle">WHY COLOURCLOUD?:</div>
          <div class="advantageslistitem"><img src="{{'icon-check-mark-trentz.svg' | asset_url}}" alt="" class="listcheckmark">
            <p class="paragraph-2">Made from <b>natural ingredients</b>en etheric oil, <b>zero </b> chemical nonsense</p>
          </div>
          
          
          <div class="advantageslistitem"><img src="{{'icon-check-mark-trentz.svg' | asset_url}}" alt="" class="listcheckmark">
            <p class="paragraph-2">Transforms your bath into a delightful <b>stress relieving </b> moment</p>
          </div>
          
          
          <div class="advantageslistitem"><img src="{{'icon-check-mark-trentz.svg' | asset_url}}" alt="" class="listcheckmark">
            <p class="paragraph-2">Soft on your skin and works <b>cleansing</b></p>
          </div>
          
          
          <div class="advantageslistitem"><img src="{{'icon-check-mark-trentz.svg' | asset_url}}" alt="" class="listcheckmark">
            <p class="paragraph-2">The bubble effect will last for 10 minutes, but you will be able to enjoy your bath <b>for hours</b> to come</p>
          </div>
          
   
           <div class="advantageslistitem"><img src="{{'icon-check-mark-trentz.svg' | asset_url}}" alt="" class="listcheckmark">
             <p class="paragraph-2"><b>Gets rid</b> of dead skin in a natural way</p>
          </div>
      
         <div class="advantageslistitem"><img src="{{'icon-check-mark-trentz.svg' | asset_url}}" alt="" class="listcheckmark">
           <p class="paragraph-2">A rainbow <b>in the tub</b>, who doesn't want that?</p>
          </div>
          
         
{% include 'mededeling' %}
          
          
          <div class="productpagesubtitle">100% SATISFACTION GUARANTEE</div>
          <p class="paragraph-2">Dissatisfied for whatever reason? Return your purchase within the first 14 days to address our policy. </p>
  
            <div class="faq-question-wrap">
            <a href="#" class="faq-question-bar w-inline-block">
              <div class="question-title">How many pieces will I get for €19.99?</div><img src="{{'arrow.svg' | asset_url}}" loading="lazy" alt="" class="image-56"></a>
            <div class="faq-content">
              <p class="faq-answer">In total you will receive 4 bath bombs</p>
            </div>
          </div>
  
            <div class="faq-question-wrap">
            <a href="#" class="faq-question-bar w-inline-block">          
              <div class="question-title">From what materials is the colourcloud made?</div><img src="{{'arrow.svg' | asset_url}}" loading="lazy" alt="" class="image-56"></a>
            <div class="faq-content">
              <p class="faq-answer">The bath bombs mostly consist of sea salt, as with most effervescent balls. To make them extra nourishing, etheric oils are added. 🍃</p>
            </div>
          </div>
  
          <div class="faq-question-wrap">
            <a href="#" class="faq-question-bar w-inline-block">          
              <div class="question-title">Can colourcloud damage my bath? </div><img src="{{'arrow.svg' | asset_url}}" loading="lazy" alt="" class="image-56"></a>
            <div class="faq-content">
              <p class="faq-answer">No! We tested the Colourcloud endless times and it will not damage your bathtub! 🛀</p>
            </div>
          </div>
  
  
             <div class="faq-question-wrap">
            <a href="#" class="faq-question-bar w-inline-block">
              <div class="question-title">How can I use the checkout?</div><img src="{{'arrow.svg' | asset_url}}" loading="lazy" alt="" class="image-56"></a>
            <div class="faq-content">
              <p class="faq-answer">Payments with Apple pay, Google pay, Paypal, and Credit Card are possible.</p>
            </div>
          </div>          
          
 
        </div>
      </div>
    </div>
  </div>

<!-- Add recommendation widget -->
<div id="ur-custom-widget"></div>
<!-- End recommendation widget -->

{% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product %}

{% include 'usps' %}
{% include 'footer' %}
{% include 'sticky-buy' %}
