{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
{% assign productomschrijving_kort = "Galaxy projector | Stary vibes 🌟" %}
{% assign stocknumber = 8 %}


<div class="section-4" id="product-page-section">
    <div class="customcontainer-2">
      <div class="columnsproduct w-row">
        <div class="imgcolumn w-col w-col-6 w-col-stack">
          <div class="imagewrapper">
            {% include 'image-slider.liquid' %}
          </div>
        </div>
        <div class="column-2 w-col w-col-6 w-col-stack">
          {% include 'product-info' %}
              
          <div class="w-layout-grid usps_grid">
            <div id="w-node-1510455e3a38-5c1a5c2a" class="single_usp"><img src="{{'icon-gratis-verzonden-usp.svg' | asset_url}}" alt="" class="usp_image">
              <p class="website_usp">Free shipping</p>
            </div>
            <div class="single_usp"><img src="{{'icon-tevredenheidsgarantie-usp.svg' | asset_url}}" alt="" class="usp_image">
              <p class="website_usp">100% Buyers satisfaction </p>
            </div>
            <div class="single_usp"><img src="{{'icon-veilig-betalen-usp.svg' | asset_url}}" alt="" class="usp_image">
              <p class="website_usp">Encrypted payments</p>
            </div>
          </div>
          <div class="productpagesubtitle">WHAT IS THE BRIGHTSKY?</div>
          <p item="description" class="paragraph-2">{{ product.description }}</p>
          
          <img src="{{'brightsky-gif.gif' | asset_url}}" alt="" class="image_product_description">
        
          <div class="productpagesubtitle">WHY THE BRIGHTSKY?</div>
          <div class="advantageslistitem"><img src="{{'icon-check-mark-trentz.svg' | asset_url}}" alt="" class="listcheckmark">
            <p class="paragraph-2">Transform every room into a <b>real night sky</b></p>
          </div>
          <div class="advantageslistitem"><img src="{{'icon-check-mark-trentz.svg' | asset_url}}" alt="" class="listcheckmark">
            <p class="paragraph-2">Built-in bluetooth speaker for your <b>favourite songs</b></p>
          </div>
          <div class="advantageslistitem"><img src="{{'icon-check-mark-trentz.svg' | asset_url}}" alt="" class="listcheckmark">
            <p class="paragraph-2"><b>Free</b> USB-cable and remote included</p>
          </div>
          <div class="advantageslistitem"><img src="{{'icon-check-mark-trentz.svg' | asset_url}}" alt="" class="listcheckmark">
            <p class="paragraph-2"><b>An endless amount of combinations</b> due to the 5 different colours and led stars</p>
          </div>
          <div class="advantageslistitem"><img src="{{'icon-check-mark-trentz.svg' | asset_url}}" alt="" class="listcheckmark">
            <p class="paragraph-2"><b>Ease</b> into sleep with the built-in timer</p>
          </div>
          <div class="advantageslistitem"><img src="{{'icon-check-mark-trentz.svg' | asset_url}}" alt="" class="listcheckmark">
            <p class="paragraph-2">Perfect for a night of <b>Netflix & Chill</b></p>
          </div>
          
          <img src="{{'ezgif.com-gif-maker_4.gif' | asset_url}}" alt="" class="image_product_description">
          
          <div class="productpagesubtitle">WHAT YOU’LL GET:</div>
          <div class="advantageslistitem"><img src="{{'icon-check-mark-trentz.svg' | asset_url}}" alt="" class="listcheckmark">
            <p class="paragraph-2">The Brigthsky™ Galaxy Projector</p>
          </div>
          <div class="advantageslistitem"><img src="{{'icon-check-mark-trentz.svg' | asset_url}}" alt="" class="listcheckmark">
            <p class="paragraph-2">Built-in bluetooth speaker</p>
          </div>
          <div class="advantageslistitem"><img src="{{'icon-check-mark-trentz.svg' | asset_url}}" alt="" class="listcheckmark">
            <p class="paragraph-2">Free remote and USB-cable</p>
          </div>
          <div class="advantageslistitem"><img src="{{'icon-check-mark-trentz.svg' | asset_url}}" alt="" class="listcheckmark">
            <p class="paragraph-2">User manual</p>
            
  
          </div> 
         {% include 'mededeling' %}
      
      
          <div class="productpagesubtitle">100% SATISFACTION GUARANTEE</div>
          <p class="paragraph-2">Dissatisfied for whatever reason? Return your purchase within the first 14 days to address our policy.</p>
          
          
          
          
          
          <div class="faq-question-wrap">
            <a href="#" class="faq-question-bar w-inline-block">
              <div class="question-title">How does the Brightsky work?</div><img src="{{'arrow.svg' | asset_url}}" loading="lazy" alt="" class="image-56"></a>
            <div class="faq-content">
              <p class="faq-answer">          
<li class="paragraph-2">Place the Brightsky in your room, bathroom, living room or really anywhere you would like to.</li>
<li class="paragraph-2">Connect the Brightsky by means of the included USB-cable </li>
<li class="paragraph-2">Connect your phone with the built-in bluetooth speaker.</li>
<li class="paragraph-2">And your room is now officially transformed into a night sky 🌠</li>
</p>
            </div>
          </div>
            
            <div class="faq-question-wrap">
            <a href="#" class="faq-question-bar w-inline-block">
              <div class="question-title">Does it come with a timer in case I fall in sleep?</div><img src="{{'arrow.svg' | asset_url}}" loading="lazy" alt="" class="image-56"></a>
            <div class="faq-content">
              <p class="faq-answer">Yes! You can use the remote control to determine when the lamp switches off, good night 💤</p>
            </div>
          </div>
            
                        
            <div class="faq-question-wrap">
            <a href="#" class="faq-question-bar w-inline-block">
              <div class="question-title">Is the brightsky safe?</div><img src="{{'arrow.svg' | asset_url}}" loading="lazy" alt="" class="image-56"></a>
            <div class="faq-content">
              <p class="faq-answer">Yes! All our products are 100% safety guaranteed. They have both a RoHS and CE approval to prove it 😉. Would you like more information? Read the positive reviews of our customers.</p>
            </div>
          </div>
         
            
                        <div class="faq-question-wrap">
            <a href="#" class="faq-question-bar w-inline-block">
              <div class="question-title">Do I need batteries?</div><img src="{{'arrow.svg' | asset_url}}" loading="lazy" alt="" class="image-56"></a>
            <div class="faq-content">
              <p class="faq-answer">The Brightsky uses the USB-cable. However, to use the remote control you will have to insert 2 triple A (AAA) batteries which are not included.</div>
          </div>
            
                                    <div class="faq-question-wrap">
            <a href="#" class="faq-question-bar w-inline-block">
              <div class="question-title">Can I play music on the Brightsky?</div><img src="{{'arrow.svg' | asset_url}}" loading="lazy" alt="" class="image-56"></a>
            <div class="faq-content">
              <p class="faq-answer">Yes! The Bright Sky is not only a lamp, but a bluetooth speaker as well. Guaranteed good vibes. 🎶</p>
            </div>
          </div>
            
                                                <div class="faq-question-wrap">
            <a href="#" class="faq-question-bar w-inline-block">
              <div class="question-title">How many different settings does the Brightsky have?</div><img src="{{'arrow.svg' | asset_url}}" loading="lazy" alt="" class="image-56"></a>
            <div class="faq-content">
              <p class="faq-answer">It comes in 4 standard colours: Red, Blue, Green, White and Laser. Every colour can be combined and with every combination the lasers can be added. Totalling on 21 different settings. 🌃</p>
            </div>
          </div>
         
                       <div class="faq-question-wrap">
            <a href="#" class="faq-question-bar w-inline-block">
              <div class="question-title">How can I use the checkout?</div><img src="{{'arrow.svg' | asset_url}}" loading="lazy" alt="" class="image-56"></a>
            <div class="faq-content">
              <p class="faq-answer">Payments with Apple pay, Google pay, Paypal, and Credit Card are possible.</p>
            </div>
          </div>
          
          
          
        </div>
      </div>
    </div>
  </div>

{% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product %}

{% include 'usps' %}
{% include 'footer' %}
{% include 'sticky-buy' %}
