{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
{% assign productomschrijving_kort = "Hier komt een korte tekst" %}



<div class="section-4" id="product-page-section">
    <div class="customcontainer-2">
      <div class="columnsproduct w-row">
        <div class="imgcolumn w-col w-col-6 w-col-stack">
          <div class="imagewrapper">
            

            
            {% include 'image-slider.liquid' %}
          </div>
        </div>
        <div class="column-2 w-col w-col-6 w-col-stack">
          


          {% include 'product-info' %}
              
              
          <div class="w-layout-grid usps_grid">
            <div id="w-node-1510455e3a38-5c1a5c2a" class="single_usp"><img src="{{'icon-gratis-verzonden-usp.svg' | asset_url}}" alt="" class="usp_image">
              <p class="website_usp">Free shipping</p>
            </div>
            <div class="single_usp"><img src="{{'icon-tevredenheidsgarantie-usp.svg' | asset_url}}" alt="" class="usp_image">
              <p class="website_usp">Buyers satisfaction</p>
            </div>
            <div class="single_usp"><img src="{{'icon-veilig-betalen-usp.svg' | asset_url}}" alt="" class="usp_image">
              <p class="website_usp">Encrypted payments</p>
            </div>
          </div>
          <div class="productpagesubtitle">WAT IS HET?</div>
          <p item="description" class="paragraph-2">{{ product.description }}</p><img src="{{'640x360.png' | asset_url}}" alt="" class="image_product_description">
          <div class="productpagesubtitle">HOE WERKT HET?</div>
          <p class="paragraph-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
          <div class="productpagesubtitle">VOORDELEN:</div>
          <div class="advantageslistitem"><img src="{{'icon-check-mark-trentz.svg' | asset_url}}" alt="" class="listcheckmark">
            <p class="paragraph-2">Voordeel 1</p>
          </div>
          <div class="advantageslistitem"><img src="{{'icon-check-mark-trentz.svg' | asset_url}}" alt="" class="listcheckmark">
            <p class="paragraph-2">Voordeel 2</p>
          </div>
          <div class="advantageslistitem"><img src="{{'icon-check-mark-trentz.svg' | asset_url}}" alt="" class="listcheckmark">
            <p class="paragraph-2">Voordeel 3</p>
          </div>
          <div class="advantageslistitem"><img src="{{'icon-check-mark-trentz.svg' | asset_url}}" alt="" class="listcheckmark">
            <p class="paragraph-2">Voordeel 4</p>
          </div>
          <div class="advantageslistitem"><img src="{{'icon-check-mark-trentz.svg' | asset_url}}" alt="" class="listcheckmark">
            <p class="paragraph-2">Voordeel 5</p>
          </div>
          <div class="productpagesubtitle">WAT JE KRIJGT:</div>
          <div class="advantageslistitem"><img src="{{'icon-check-mark-trentz.svg' | asset_url}}" alt="" class="listcheckmark">
            <p class="paragraph-2">Functie 1</p>
          </div>
          <div class="advantageslistitem"><img src="{{'icon-check-mark-trentz.svg' | asset_url}}" alt="" class="listcheckmark">
            <p class="paragraph-2">Functie 2</p>
          </div>
          <div class="advantageslistitem"><img src="{{'icon-check-mark-trentz.svg' | asset_url}}" alt="" class="listcheckmark">
            <p class="paragraph-2">Functie 3</p>
          </div>
          <div class="advantageslistitem"><img src="{{'icon-check-mark-trentz.svg' | asset_url}}" alt="" class="listcheckmark">
            <p class="paragraph-2">Functie 4</p>
          </div>
          <div class="productpagesubtitle">100% TEVREDENHEIDSGARANTIE</div>
          <p class="paragraph-2">Niet tevreden om wat voor reden dan ook? Stuur je aankoop gemakkelijk binnen 14 dagen terug! </p>
          <div class="faq-question-wrap">
            <a href="#" class="faq-question-bar w-inline-block">
              <div class="question-title">Question 1?</div><img src="{{'arrow.svg' | asset_url}}" loading="lazy" alt="" class="image-56"></a>
            <div class="faq-content">
              <p class="faq-answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            </div>
          </div>
          <div class="faq-question-wrap">
            <a href="#" class="faq-question-bar w-inline-block">
              <div class="question-title">Question 2?</div><img src="{{'arrow.svg' | asset_url}}" loading="lazy" alt="" class="image-56"></a>
            <div class="faq-content">
              <p class="faq-answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            </div>
          </div>
          <div class="faq-question-wrap">
            <a href="#" class="faq-question-bar w-inline-block">
              <div class="question-title">Question 3?</div><img src="{{'arrow.svg' | asset_url}}" loading="lazy" alt="" class="image-56"></a>
            <div class="faq-content">
              <p class="faq-answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% include 'usps' %}
{% include 'footer' %}
{% include 'sticky-buy' %}

